* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    cursor: url(img/cursor.png), auto;
    transition: .5s ease-in-out;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    color: white;
    z-index: 3;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li {
    list-style: none;
}
.navbar-links li a{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
}
.navbar-links li:hover{
    background-color: #555;
}
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: aqua;
    border-radius: 10px;
}
button{
    background-color: aqua;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 30px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textbox {
    position: relative;
    max-width: 600px;
}

.textbox h2 {
    font-size: 4em;
    line-height: 1.4 em;
    font-weight: 700;
    text-transform: capitalize;
}

.textbox h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.textbox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: url(img/hover.png), auto;
}

.imgbox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgbox img {
    max-width: 340px;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-25px);
    cursor: url(img/hover.png), auto;
}

.thumb li img {
    max-width: 60px;
}

.icons {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons li {
    list-style: none;
    cursor: pointer;
    margin: 5px;
}

.icons li img {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
}
.light-mode section{
    background: black;
    color: aliceblue;
}
.light-mode header ul li a{
    color: #fff;
}

@media (max-width: 991px) {
    header {
        padding: 20px;
    }

    header.logo {
        max-width: 60px;
    }

    header ul {
        display: none;
    }

    .toggle-button{
        display: flex;
    }
    .navbar-links{
        width: 100%;
        display: none;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links.active{
        display: flex;
    }

    section {
        padding: 20px 20px 120px;
    }

    .content {
        flex-direction: column;
        margin-top: 100px;
    }

    .content .textbox h2 {
        font-size: 1.2em;
        margin-bottom: 15px;
    }

    .content .textbox {
        max-width: 100%;
    }

    .content .imgbox {
        max-width: 100%;
        justify-content: center;
    }

    .content .imgbox img {
        max-width: 300px;
    }

    .thumb li img {
        max-width: 40px;
    }

    .circle {
        position: absolute;
        clip-path: circle(400px at center bottom);
    }

    .icons {
        background: #017143;
        right: 0;
        width: 50px;
        border-radius: 10px;
    }
}